<div class="dialog">
  <div class="dialog__body">
    <div class="dialog-body-section">
      <div class="dialog-header">
        <span class="dialog-header__title"> {{data.title}} </span>
        <!--        <span></span>-->
        <span class="dialog-header__close" (click)="close()">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
            <mask id="mask0_56_5420" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
            <rect x="0.424805" y="0.158691" width="24" height="24" fill="#D9D9D9"/>
            </mask>
            <g mask="url(#mask0_56_5420)">
            <path
              d="M8.8248 17.1587L12.4248 13.5587L16.0248 17.1587L17.4248 15.7587L13.8248 12.1587L17.4248 8.55869L16.0248 7.15869L12.4248 10.7587L8.8248 7.15869L7.4248 8.55869L11.0248 12.1587L7.4248 15.7587L8.8248 17.1587ZM12.4248 22.1587C11.0415 22.1587 9.74147 21.8962 8.5248 21.3712C7.30814 20.8462 6.2498 20.1337 5.3498 19.2337C4.4498 18.3337 3.7373 17.2754 3.2123 16.0587C2.6873 14.842 2.4248 13.542 2.4248 12.1587C2.4248 10.7754 2.6873 9.47536 3.2123 8.25869C3.7373 7.04202 4.4498 5.98369 5.3498 5.08369C6.2498 4.18369 7.30814 3.47119 8.5248 2.94619C9.74147 2.42119 11.0415 2.15869 12.4248 2.15869C13.8081 2.15869 15.1081 2.42119 16.3248 2.94619C17.5415 3.47119 18.5998 4.18369 19.4998 5.08369C20.3998 5.98369 21.1123 7.04202 21.6373 8.25869C22.1623 9.47536 22.4248 10.7754 22.4248 12.1587C22.4248 13.542 22.1623 14.842 21.6373 16.0587C21.1123 17.2754 20.3998 18.3337 19.4998 19.2337C18.5998 20.1337 17.5415 20.8462 16.3248 21.3712C15.1081 21.8962 13.8081 22.1587 12.4248 22.1587ZM12.4248 20.1587C14.6581 20.1587 16.5498 19.3837 18.0998 17.8337C19.6498 16.2837 20.4248 14.392 20.4248 12.1587C20.4248 9.92536 19.6498 8.03369 18.0998 6.48369C16.5498 4.93369 14.6581 4.15869 12.4248 4.15869C10.1915 4.15869 8.29981 4.93369 6.7498 6.48369C5.1998 8.03369 4.4248 9.92536 4.4248 12.1587C4.4248 14.392 5.1998 16.2837 6.7498 17.8337C8.29981 19.3837 10.1915 20.1587 12.4248 20.1587Z"
              fill="white"/>
            </g>
          </svg>
        </span>
      </div>
      <div class="dialog-body-main" [formGroup]="form">
        <div class="card-section">
          <mat-radio-group class="card-section-radio"  formControlName="gebouw">
            <mat-radio-button
              value="boerderij"
              class="card-section-radio__button"
              [checked]="form.get('gebouw')?.value==='boerderij'"
            >
            </mat-radio-button>
          </mat-radio-group>
          <div class="card-section__main">
            <div class="card-section__main__icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="101" height="73" viewBox="0 0 101 73" fill="none">
                <path d="M98.8593 46.8182L49.1416 18.1844C45.4596 16.0614 40.9217 16.0647 37.243 18.191L3.34156 37.7656L0.425781 36.7638V40.5023C0.425781 40.5023 0.425781 40.5023 0.425781 40.5056C0.425781 41.1193 0.730953 41.7329 1.34131 42.0812L51.7091 71.0865C55.3912 73.2062 59.9257 73.2062 63.6078 71.0799L99.5127 50.3509C100.067 50.0292 100.365 49.4918 100.415 48.9345V48.9179C100.422 48.8217 100.422 48.7288 100.415 48.6326L100.425 45.0501L98.8626 46.8148L98.8593 46.8182Z" fill="#E2E8ED"/>
                <path d="M1.33785 38.3461L51.7056 67.3514C55.3877 69.4711 59.9223 69.4711 63.6043 67.3448L99.5093 46.6158C100.727 45.9126 100.727 44.1545 99.5093 43.4546L49.1415 14.4493C45.4594 12.3263 40.9216 12.3296 37.2428 14.4559L1.33785 35.1882C0.120455 35.8914 0.120455 37.6495 1.33785 38.3495V38.3461Z" fill="#FCFCFC"/>
                <path d="M97.4397 45.9823L94.8788 47.4618L72.0601 60.6342L62.8151 65.9749C61.2461 66.8804 59.4582 67.3581 57.6503 67.3581C55.8424 67.3581 54.0611 66.8804 52.4954 65.9815L3.53743 37.7889C2.74794 37.3378 2.74794 36.2 3.53743 35.7455L38.0293 15.8326C39.5983 14.927 41.3796 14.446 43.1941 14.446C45.0086 14.446 46.7833 14.9237 48.349 15.826L68.1524 27.2304L84.9406 36.8999L97.4364 44.0948C98.1661 44.5128 98.1661 45.5677 97.4397 45.9889V45.9823Z" fill="#B8ABA8"/>
                <path opacity="0.15" d="M76.9127 29.5623L79.6758 28.053L80.2497 27.3232L64.5894 8.4519L48.9224 10.2233L8.35352 32.7767L8.9307 34.1367L13.2231 35.2148V36.5151L13.86 36.8601L17.8273 34.694L20.3451 34.4087V36.7473L19.7247 34.8366L10.7651 40.2867L19.1509 45.1961L27.3244 50.006L28.1105 48.9147L31.8457 50.9514V51.3495L32.3134 51.6082L32.6783 51.4092L37.3256 53.9435V54.3415L37.7933 54.6003L38.1582 54.3979L45.9171 58.7235L45.2901 60.2992L53.6792 64.8768L55.5601 63.8518L84.4128 46.9277L92.7985 42.35V40.3V38.2334L76.9127 29.5623Z" fill="black"/>
                <path d="M91.8034 34.8965V43.0136L83.1489 48.0092L81.7822 39.4576L89.6174 35.4538L91.8034 34.8965Z" fill="#634E42"/>
                <path d="M83.149 39.892L91.8035 34.8964V32.644L80.1802 36.7474L83.149 39.892Z" fill="#479558"/>
                <path d="M83.149 37.6397L91.8035 32.6441L65.9694 17.7268L57.3149 22.7225L83.149 37.6397Z" fill="#62BE76"/>
                <path d="M50.8896 21.2661V29.3832L24.2428 44.7649L23.9907 42.695L25.8483 34.3888L47.5691 22.0622L50.8896 21.2661Z" fill="#6B4414"/>
                <path d="M50.8891 19.0139V21.2663L26.3951 35.4073L24.2423 44.765L22.3018 45.8862L22.3548 40.1575L23.6419 33.9279L49.0613 19.2163L50.8891 19.0139Z" fill="#479558"/>
                <path d="M22.3019 45.8861L13.6475 40.8905L16.4007 28.9321L23.8676 31.901L25.0519 33.9278L22.3019 45.8861Z" fill="#62BE76"/>
                <path d="M25.052 33.9278L16.4009 28.9322L42.2349 14.0149L50.8894 19.0139L25.052 33.9278Z" fill="#62BE76"/>
                <path d="M25.8847 18.5927L36.8579 17.3354L48.0898 31.7618L48.0832 46.9046L25.7554 34.0938L25.8847 18.5927Z" fill="#D1D1D1"/>
                <path d="M37.3689 16.3137L25.5664 17.7235V33.6326L49.1746 47.2628V31.3537L37.3722 16.3137H37.3689ZM37.3689 17.7766L42.7792 24.6696L31.9586 18.4234L37.3689 17.7766ZM26.6478 19.057L31.471 18.4798V26.7661L26.6478 23.9797V19.0537V19.057ZM26.6478 33.7885V25.2734L31.471 28.0598V36.5716L26.6478 33.7852V33.7885ZM31.9553 27.0481V18.9807L42.7792 25.2303V33.2976L31.5638 26.8225L31.9586 27.0481H31.9553ZM37.1267 39.839L31.9553 36.8536V28.3418L37.1267 31.3272V39.839ZM37.611 40.1177V31.6025L42.7792 34.588V43.0998L37.611 40.1144V40.1177ZM48.0899 46.1649L43.2668 43.3785V34.8633L48.0899 37.6497V46.1615V46.1649ZM48.0899 36.3593L43.2137 33.5431L43.2668 33.5762V25.2866L48.0899 31.4333V36.3593Z" fill="#5E4439"/>
                <path d="M42.5104 34.044V25.2867L31.242 19.0172L31.1789 27.7181L25.7554 24.4176L25.7819 18.7485L36.921 17.415L48.3154 31.712L47.9472 37.182L42.5104 34.044Z" fill="white"/>
                <path d="M37.1364 16.4496L25.334 17.8594V33.7652L48.3783 47.0703L48.9389 31.4863L37.1364 16.4463V16.4496ZM37.1364 17.9092L42.5467 24.8022L31.7262 18.556L37.1364 17.9092ZM26.4154 19.1896L31.2385 18.6124V26.902L26.4154 24.1156V19.1896ZM26.4154 33.9211V25.4059L31.2385 28.1924V36.7042L26.4154 33.9178V33.9211ZM31.7228 27.1806V19.1133L42.5434 25.3628V33.4302L31.3281 26.9551L31.7228 27.1839V27.1806ZM36.891 39.9716L31.7228 36.9862V28.4743L36.891 31.4598V39.9716ZM37.3753 40.2502V31.7384L42.5434 34.7239V43.2357L37.3753 40.2502ZM47.8542 46.3008L43.0277 43.5143V35.0025L47.8542 37.7889V46.3008ZM47.8542 36.4952L42.9747 33.6789L43.0277 33.7121V25.4225L47.8542 31.5692V36.4952Z" fill="#3C3C3B"/>
                <path d="M48.083 32.5446V41.7166L48.6602 57.9275L74.4976 43.0103V16.7317L48.083 32.5446Z" fill="#3C3C3B"/>
                <path d="M54.6182 34.4951V43.6604L49.7817 46.4535V46.2113L53.6728 43.1164L54.4059 34.6179L54.6182 34.4951Z" fill="#878787"/>
                <path d="M54.4059 34.6179V43.5378L49.7817 46.2114V45.9759L53.152 42.7815L54.2035 34.734L54.4059 34.6179Z" fill="#5E4439"/>
                <path d="M54.2035 34.7339V43.4215L49.7817 45.9758V37.2881L54.2035 34.7339Z" fill="#D1D1D1"/>
                <path d="M67.4655 36.2431L55.5635 43.1163V31.9972L67.4655 25.124V36.2431Z" fill="#D1D1D1"/>
                <path d="M61.019 40.3599L55.4893 34.5416L61.0953 31.3638L55.539 43.2558" stroke="#3C3C3B" stroke-width="0.75" stroke-miterlimit="10"/>
                <path d="M67.4945 36.6678L61.9648 30.8462L67.5708 27.6716L62.0146 39.5637" stroke="#3C3C3B" stroke-width="0.75" stroke-miterlimit="10"/>
                <path d="M73.2471 23.7375V32.9029L68.4106 35.6959V35.4538L72.3017 32.3589L73.0381 23.8603L73.2471 23.7375Z" fill="#878787"/>
                <path d="M73.0381 23.8604V32.7835L68.4106 35.4538V35.2183L71.7809 32.0272L72.8324 23.9764L73.0381 23.8604Z" fill="#5E4439"/>
                <path d="M72.8324 23.9763V32.664L68.4106 35.2182V26.5305L72.8324 23.9763Z" fill="#D1D1D1"/>
                <path d="M61.9855 39.6732L61.0435 40.2205V30.1596L61.9855 29.5293V39.6732Z" fill="#3C3C3B"/>
                <path d="M36.858 16.6089L25.0522 18.022V44.2972L48.6605 57.9275V31.6489L36.858 16.6089ZM36.858 18.0684L42.2683 24.9615L31.4477 18.7153L36.858 18.0684ZM26.137 19.3489L30.9601 18.7717V27.0579L26.137 24.2715V19.3455V19.3489ZM26.137 34.0804V25.5685L30.9601 28.355V36.8701L26.137 34.0837V34.0804ZM31.4444 27.3399V19.2726L42.2683 25.5221V33.5894L31.0497 27.1143L31.4444 27.3432V27.3399ZM36.6125 40.1309L31.4444 37.1454V28.6336L36.6125 31.619V40.1309ZM37.0969 40.4095V31.8977L42.2683 34.8831V43.3983L37.0969 40.4128V40.4095ZM47.5758 46.46L42.7526 43.6736V35.1618L47.5758 37.9482V46.46ZM47.5758 36.6545L42.6962 33.8382L42.7526 33.8681V25.5785L47.5758 31.7252V36.6512V36.6545Z" fill="#878787"/>
                <path d="M26.1367 35.019V44.1877L30.9632 46.9708V46.7286L27.0821 43.6403L26.349 35.1418L26.1367 35.019Z" fill="#3C3C3B"/>
                <path d="M26.3491 35.1418V44.065L30.9633 46.7287V46.4932L27.603 43.3087L26.5548 35.2613L26.3491 35.1418Z" fill="#5E4439"/>
                <path d="M26.5547 35.2612V43.9456L30.9632 46.4931V37.8055L26.5547 35.2612Z" fill="#313B51"/>
                <path d="M42.7559 44.6123V53.7809L47.579 56.564V56.3219L43.6979 53.2336L42.9648 44.735L42.7559 44.6123Z" fill="#3C3C3B"/>
                <path d="M42.9648 44.7351V53.6583L47.579 56.322V56.0864L44.2187 52.902L43.1705 44.8512L42.9648 44.7351Z" fill="#5E4439"/>
                <path d="M43.1704 44.8511V53.542L47.5789 56.0863V47.3987L43.1704 44.8511Z" fill="#D1D1D1"/>
                <path d="M31.4478 38.084V47.2526L36.6159 50.2348V49.9926L32.3898 46.7053L31.6567 38.2067L31.4478 38.084Z" fill="#3C3C3B"/>
                <path d="M31.6567 38.2068V47.13L36.6159 49.9927V49.7571L32.914 46.3736L31.8624 38.3229L31.6567 38.2068Z" fill="#5E4439"/>
                <path d="M31.8623 38.3228V47.0104L36.6158 49.757V41.0694L31.8623 38.3228Z" fill="#313B51"/>
                <path d="M37.1001 41.3481V50.5168L42.2715 53.4989V53.2568L38.0455 49.9695L37.3124 41.4709L37.1001 41.3481Z" fill="#3C3C3B"/>
                <path d="M37.3125 41.4709V50.3941L42.2716 53.2568V53.0213L38.5664 49.6378L37.5148 41.587L37.3125 41.4709Z" fill="#5E4439"/>
                <path d="M37.5146 41.5869V50.2746L42.2715 53.0212V44.3335L37.5146 41.5869Z" fill="#313B51"/>
                <path d="M29.3909 47.2365L30.6713 46.4967L29.3312 45.8831C29.3312 45.8831 29.1952 46.5133 29.2051 46.5166L29.3942 47.2365H29.3909Z" fill="#3C3C3B"/>
                <path d="M29.391 47.2364L28.9067 46.9577V45.8398L29.391 46.1185V47.2364Z" fill="#706F6F"/>
                <path d="M35.0466 50.5005L36.3271 49.7608L34.9869 49.1438C34.9869 49.1438 34.8509 49.7741 34.8609 49.7774L35.05 50.5005H35.0466Z" fill="#3C3C3B"/>
                <path d="M35.0468 50.5005L34.5625 50.2219V49.104L35.0468 49.3826V50.5005Z" fill="#706F6F"/>
                <path d="M23.7384 43.9722L25.0155 43.2325L23.6754 42.6155C23.6754 42.6155 23.5394 43.2457 23.5493 43.2491L23.7384 43.9689V43.9722Z" fill="#3C3C3B"/>
                <path d="M23.7382 43.9722L23.2539 43.6936V42.5757L23.7382 42.8543V43.9722Z" fill="#706F6F"/>
                <path d="M47.8475 48.3444L40.9544 52.3415L19.2204 39.8591L17.3462 38.3199L25.052 33.8716L48.6602 47.4985L47.8475 48.3444Z" fill="#E8F3FF"/>
                <path d="M40.9547 51.9502L48.6604 47.4985V48.3444L40.9547 52.796L40.6528 52.5141L40.9547 51.9502Z" fill="#575756"/>
                <path d="M40.9544 52.7959L17.3462 39.1657V38.3198L40.9544 51.95V52.7959Z" fill="#9D9D9C"/>
                <path d="M23.752 32.7969V34.6246L24.1235 34.8369L24.296 32.9097L23.752 32.7969Z" fill="#9D9D9C"/>
                <path d="M24.1235 34.8369V33.0125L24.296 32.7969H24.4951V34.6246L24.1235 34.8369Z" fill="#575756"/>
                <path d="M24.1235 33.0124L23.752 32.7968L24.1235 32.5845L24.495 32.7968L24.1235 33.0124Z" fill="#9D9D9C"/>
                <path d="M20.5474 34.6445V36.4723L20.9189 36.6846L21.0947 34.7606L20.5474 34.6445Z" fill="#9D9D9C"/>
                <path d="M20.9189 36.6846V34.8601L21.0948 34.6445H21.2905V36.4723L20.9189 36.6846Z" fill="#575756"/>
                <path d="M20.9189 34.86L20.5474 34.6444L20.9189 34.4321L21.2904 34.6444L20.9189 34.86Z" fill="#9D9D9C"/>
                <path d="M17.3462 36.4922V38.3199L17.7177 38.5356L17.8935 36.6083L17.3462 36.4922Z" fill="#9D9D9C"/>
                <path d="M17.7183 38.5356V36.7078L17.8941 36.4922H18.0931V38.3199L17.7183 38.5356Z" fill="#575756"/>
                <path d="M17.7177 36.7077L17.3462 36.4921L17.7177 36.2798L18.0926 36.4921L17.7177 36.7077Z" fill="#9D9D9C"/>
                <path d="M20.667 38.4094V40.2339L21.0385 40.4495L21.2143 38.5255L20.667 38.4094Z" fill="#9D9D9C"/>
                <path d="M21.0381 40.4495V38.625L21.2139 38.4094H21.4096V40.2339L21.0381 40.4495Z" fill="#575756"/>
                <path d="M21.0385 38.6249L20.667 38.4093L21.0385 38.197L21.41 38.4093L21.0385 38.6249Z" fill="#9D9D9C"/>
                <path d="M23.9873 40.3267V42.1511L24.3588 42.3667L24.5346 40.4394L23.9873 40.3267Z" fill="#9D9D9C"/>
                <path d="M24.3584 42.3667V40.5423L24.5342 40.3267H24.7299V42.1511L24.3584 42.3667Z" fill="#575756"/>
                <path d="M24.3588 40.5423L23.9873 40.3267L24.3588 40.1111L24.7303 40.3267L24.3588 40.5423Z" fill="#9D9D9C"/>
                <path d="M27.3042 42.2439V44.0683L27.6757 44.2839L27.8515 42.3567L27.3042 42.2439Z" fill="#9D9D9C"/>
                <path d="M27.6763 44.2839V42.4595L27.8521 42.2439H28.0478V44.0683L27.6763 44.2839Z" fill="#575756"/>
                <path d="M27.6757 42.4596L27.3042 42.2439L27.6757 42.0283L28.0472 42.2439L27.6757 42.4596Z" fill="#9D9D9C"/>
                <path d="M30.625 44.1614V45.9858L30.9965 46.2014L31.1723 44.2742L30.625 44.1614Z" fill="#9D9D9C"/>
                <path d="M30.9966 46.2014V44.3737L31.1724 44.1614H31.3681V45.9858L30.9966 46.2014Z" fill="#575756"/>
                <path d="M30.9965 44.3737L30.625 44.1614L30.9965 43.9458L31.368 44.1614L30.9965 44.3737Z" fill="#9D9D9C"/>
                <path d="M33.9458 46.0754V47.8999L34.3173 48.1155L34.4931 46.1915L33.9458 46.0754Z" fill="#9D9D9C"/>
                <path d="M34.3169 48.1155V46.2911L34.4927 46.0754H34.6884V47.8999L34.3169 48.1155Z" fill="#575756"/>
                <path d="M34.3173 46.2909L33.9458 46.0753L34.3173 45.863L34.6888 46.0753L34.3173 46.2909Z" fill="#9D9D9C"/>
                <path d="M37.2627 47.9929V49.8174L37.6375 50.033L37.81 48.1057L37.2627 47.9929Z" fill="#9D9D9C"/>
                <path d="M37.6377 50.033V48.2085L37.8102 47.9929H38.0092V49.8174L37.6377 50.033Z" fill="#575756"/>
                <path d="M37.6375 48.2084L37.2627 47.9928L37.6375 47.7805L38.0091 47.9928L37.6375 48.2084Z" fill="#9D9D9C"/>
                <path d="M46.9854 46.2146V48.039L47.3602 48.2547L47.5327 46.3274L46.9854 46.2146Z" fill="#9D9D9C"/>
                <path d="M47.3604 48.2547V46.4269L47.5329 46.2146H47.7286V48.039L47.3604 48.2547Z" fill="#575756"/>
                <path d="M47.3602 46.4269L46.9854 46.2146L47.3602 45.999L47.7284 46.2146L47.3602 46.4269Z" fill="#9D9D9C"/>
                <path d="M43.7842 48.0623V49.8867L44.1557 50.1023L44.3315 48.175L43.7842 48.0623Z" fill="#9D9D9C"/>
                <path d="M44.1558 50.1023V48.2746L44.3316 48.0623H44.5273V49.8867L44.1558 50.1023Z" fill="#575756"/>
                <path d="M44.1557 48.2746L43.7842 48.0623L44.1557 47.8467L44.5272 48.0623L44.1557 48.2746Z" fill="#9D9D9C"/>
                <path d="M40.583 49.9099V51.7344L40.9545 51.95L41.1303 50.0227L40.583 49.9099Z" fill="#9D9D9C"/>
                <path d="M40.9546 51.95V50.1255L41.1304 49.9099H41.3261V51.7344L40.9546 51.95Z" fill="#575756"/>
                <path d="M40.9545 50.1256L40.583 49.9099L40.9545 49.6943L41.326 49.9099L40.9545 50.1256Z" fill="#9D9D9C"/>
                <path d="M40.9547 50.1323L48.6604 45.684V44.606L41.1205 48.7723L40.9547 49.0576L40.6528 49.3694L40.9547 50.1323Z" fill="#575756"/>
                <path d="M18.829 36.0773L25.4268 32.2692V31.1912L24.1928 31.6887L17.8604 35.3243L18.829 36.0773Z" fill="#575756"/>
                <path d="M17.8604 35.3245L17.3462 35.4273V36.5021L40.9544 50.1323V49.0575L40.7322 48.7026L18.829 36.0775L17.8604 35.3245Z" fill="#9D9D9C"/>
                <path d="M40.9544 48.6262L18.0926 35.4272L25.4268 31.1912L25.052 30.9756L17.3462 35.4272L40.9544 49.0574L48.6602 44.6058L48.2887 44.3902L40.9544 48.6262Z" fill="#B2B2B2"/>
                <path d="M23.0286 21.3657L18.3581 24.0625L17.7046 21.6178L21.8345 20.8748L23.0286 21.3657Z" fill="#0A0808"/>
                <path d="M18.3581 24.0624L17.7046 23.6843V21.6177L18.3581 21.9958V24.0624Z" fill="#362C29"/>
                <path d="M33.1793 20.8782L29.8356 22.8088L29.1821 20.6659L31.3283 20.4038L33.1793 20.8782Z" fill="#0A0808"/>
                <path d="M29.8356 22.8089L29.1821 22.4307V20.666L29.8356 21.0442V22.8089Z" fill="#362C29"/>
                <path d="M44.6564 35.384L41.3127 37.3146L40.6592 34.8699L42.8054 34.9064L44.6564 35.384Z" fill="#0A0808"/>
                <path d="M41.3127 37.3146L40.6592 36.9331V34.8699L41.3127 35.248V37.3146Z" fill="#362C29"/>
                <path d="M46.5306 2.06975L13.3457 21.2297L14.928 21.7372L30.7442 19.8663L62.453 1.69491L62.6918 0.13916L46.5306 2.06975Z" fill="#3C3C3B"/>
                <path d="M29.5103 19.2991L62.6918 0.13916L78.8564 20.7354L77.0087 22.0291L45.5023 40.2569L44.5138 39.2817L30.9632 21.7936L29.5103 19.2991Z" fill="#1D1D1B"/>
                <path d="M29.5102 19.2991L13.3457 21.2297L13.9428 22.7124L29.5102 20.8548L45.0777 40.6881L45.6714 39.8953L29.5102 19.2991Z" fill="#575756"/>
                <path d="M44.9785 39.9948L45.6718 39.8953L78.8567 20.7354L78.2629 21.5315L45.078 40.6881L44.9785 39.9948Z" fill="black"/>
                <path d="M83.149 39.8921V48.0092L56.5055 63.3909L56.2534 61.321L58.111 53.0115L79.8318 40.6882L83.149 39.8921Z" fill="#634E42"/>
                <path d="M83.1489 37.6396V39.892L58.6583 54.0331L56.5055 63.3908L54.5649 64.5153L54.618 58.7832L55.9051 52.5536L81.3245 37.842L83.1489 37.6396Z" fill="#479558"/>
                <path d="M54.5651 64.5152L45.9106 59.5162L48.6606 47.5579L56.1275 50.53L57.3151 52.5535L54.5651 64.5152Z" fill="#62BE76"/>
                <path d="M57.3146 52.5537L48.6602 47.558L74.4975 32.644L81.8384 36.1171L83.1487 37.6397L57.3146 52.5537Z" fill="#62BE76"/>
              </svg>
            </div>
            <div class="card-section__main__title">
              boerderij
            </div>
          </div>
        </div>
        <div class="card-section">
          <mat-radio-group class="card-section-radio" formControlName="gebouw">
            <mat-radio-button
            class="card-section-radio__button"
            value="kantoren"
            [checked]="form.get('gebouw')?.value==='kantoren'"
            >
            </mat-radio-button>
          </mat-radio-group>
          <div class="card-section__main">
            <div class="card-section__main__icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="101" height="76" viewBox="0 0 101 76" fill="none">
                <g clip-path="url(#clip0_290_5380)">
                  <path d="M98.9927 49.8129L49.2735 21.1317C45.5895 19.0072 41.0545 19.0095 37.3728 21.1386L3.47141 40.7452L0.555664 39.7421V43.4863C0.555664 43.4863 0.555664 43.4898 0.555664 43.4909V43.4932C0.557961 44.1075 0.862282 44.7217 1.46978 45.0725L51.839 74.1264C55.523 76.2509 60.0568 76.2486 63.7385 74.1194L99.6439 53.3557C100.199 53.0348 100.497 52.4953 100.546 51.9363V51.9213C100.555 51.827 100.555 51.7315 100.546 51.6372L100.555 48.0472L98.9916 49.8152L98.9927 49.8129Z" fill="#DEE4EA"/>
                  <path d="M1.46955 41.326L51.8388 70.3798C55.5228 72.5044 60.0566 72.5021 63.7383 70.3729L99.6436 49.6092C100.861 48.9052 100.86 47.1442 99.6425 46.4413L49.2744 17.3864C45.5904 15.2618 41.0554 15.2641 37.3737 17.3933L1.4684 38.1582C0.251114 38.8621 0.252262 40.6232 1.4707 41.326H1.46955Z" fill="#FCFCFC"/>
                  <path d="M97.5742 48.9743L95.0133 50.4559L72.1938 63.6496L62.947 68.9984C61.3783 69.906 59.5914 70.3834 57.7827 70.3834C55.974 70.3834 54.194 69.906 52.6288 69.0053L3.67092 40.7636C2.88313 40.3116 2.88313 39.1705 3.67092 38.715L38.1649 18.7668C39.7336 17.8592 41.517 17.3784 43.3292 17.3784C45.1413 17.3784 46.9179 17.8558 48.4831 18.7599L68.287 30.1845L85.0752 39.8699L97.5696 47.0764C98.2999 47.4962 98.2999 48.551 97.573 48.9743H97.5742Z" fill="#AFA19F"/>
                  <path d="M15.061 14.2703V39.1048L57.875 63.1354L57.72 36.1153L15.061 14.2703Z" fill="#EDF1F4"/>
                  <path d="M85.2478 22.8076L57.7739 35.6344L57.9129 63.4873L85.9495 48.8017L85.2478 22.8076Z" fill="#D3D4D6"/>
                  <path d="M41.8402 0.759033L85.3627 22.8076L57.72 36.1152L15.061 14.2702L41.8402 0.759033Z" fill="#5C6E82"/>
                  <path d="M21.8945 14.3058L41.7478 3.90381L79.216 22.5545L57.7677 32.3238L21.8945 14.3058Z" fill="#01034C"/>
                  <path d="M21.8945 14.3059L41.6123 3.82568L78.8715 22.3245L41.2677 5.73975L21.8945 14.3059Z" fill="#14233E"/>
                  <path d="M15.061 14.2703V18.9577L57.7981 41.1144V36.1003L15.061 14.2703Z" fill="#7A8494"/>
                  <path d="M85.2475 22.8076L57.7598 36.0589V41.1765L85.4277 27.4709L85.2475 22.8076Z" fill="#44596E"/>
                  <path opacity="0.12" d="M85.248 22.6926L57.6455 63.3654L85.9497 47.8815L85.248 22.6926Z" fill="black"/>
                  <path d="M17.8411 25.6499L17.8101 27.6422L24.125 30.8124L24.1606 28.8143L17.8411 25.6499Z" fill="#5C6E82"/>
                  <path d="M18.126 26.1111L18.103 27.465L20.7041 28.7912L20.7259 27.465L18.126 26.1111Z" fill="#031441"/>
                  <path d="M21.1174 27.656L21.0933 29.0087L23.8103 30.3373L23.8287 29.0559L21.1174 27.656Z" fill="#031441"/>
                  <path d="M27.4299 30.6077L27.3989 32.6L33.7139 35.769L33.7495 33.7721L27.4299 30.6077Z" fill="#5C6E82"/>
                  <path d="M27.7149 31.0688L27.6919 32.4227L30.293 33.749L30.3148 32.4227L27.7149 31.0688Z" fill="#031441"/>
                  <path d="M30.7062 32.6138L30.6821 33.9665L33.3992 35.2951L33.4176 34.0137L30.7062 32.6138Z" fill="#031441"/>
                  <path d="M37.2901 35.7932L37.2603 37.7866L43.5752 40.9557L43.6108 38.9576L37.2901 35.7932Z" fill="#5C6E82"/>
                  <path d="M37.5764 36.2544L37.5522 37.6083L40.1545 38.9345L40.1763 37.6083L37.5764 36.2544Z" fill="#031441"/>
                  <path d="M40.5661 37.7993L40.542 39.1532L43.2591 40.4818L43.2774 39.1992L40.5661 37.7993Z" fill="#031441"/>
                  <path d="M48.1402 41.6711L48.1104 43.6634L54.4253 46.8336L54.4609 44.8356L48.1402 41.6711Z" fill="#5C6E82"/>
                  <path d="M48.4253 42.1323L48.4023 43.4862L51.0046 44.8125L51.0252 43.4862L48.4253 42.1323Z" fill="#031441"/>
                  <path d="M51.4162 43.6772L51.3921 45.0311L54.1092 46.3586L54.1275 45.0771L51.4162 43.6772Z" fill="#031441"/>
                  <path d="M23.6277 43.4288L23.7345 33.7733L19.103 33.6123L18.832 41.3813L23.6277 43.4288Z" fill="#01034C"/>
                  <path d="M19.0516 41.6618L18.2925 41.6354L18.3775 32.6287L19.1365 32.6551L19.0516 41.6618Z" fill="#AFB5C3"/>
                  <path d="M32.7839 48.315L32.8919 38.6596L28.2593 38.4985L27.9883 46.2664L32.7839 48.315Z" fill="#01034C"/>
                  <path d="M28.2083 46.4332L27.4492 46.4067L27.5342 37.5139L28.2921 37.5415L28.2083 46.4332Z" fill="#AFB5C3"/>
                  <path d="M42.3134 53.4949L42.4202 43.8406L37.4512 43.6658L37.1802 51.4348L42.3134 53.4949Z" fill="#01034C"/>
                  <path d="M37.399 51.4863L36.5859 51.4576L36.6698 42.6809L37.484 42.7085L37.399 51.4863Z" fill="#AFB5C3"/>
                  <path d="M52.8199 59.9605L52.9267 49.6149L47.7578 49.4343L47.4868 57.2033L52.8199 59.9605Z" fill="#01034C"/>
                  <path d="M47.7062 57.255L46.8599 57.2251L46.9437 48.4473L47.7912 48.4772L47.7062 57.255Z" fill="#AFB5C3"/>
                  <path d="M62.7438 60.7625L62.459 49.0929L67.6669 48.8191L68.0803 56.7296L62.7438 60.7625Z" fill="#01034C"/>
                  <path d="M68.095 57.0148L68.9482 56.97L68.4684 47.7987L67.6152 47.8435L68.095 57.0148Z" fill="#AFB5C3"/>
                  <path d="M70.2128 46.5022L70.2645 47.4903L64.0712 50.3384L64.0161 49.2882L70.2128 46.5022Z" fill="#A5A7AF"/>
                  <path d="M62.3066 48.5544L62.3537 49.4609L64.0717 50.3385L64.0166 49.2883L62.3066 48.5544Z" fill="#7F8090"/>
                  <path d="M70.2133 46.5023L68.4436 45.7546L62.3066 48.5544L64.0166 49.2883L70.2133 46.5023Z" fill="#DCDEE2"/>
                  <path d="M15.061 38.0352V39.9849L57.7832 64.4249L57.7981 62.4522L15.061 38.0352Z" fill="#B8BDC9"/>
                  <path d="M77.4971 52.3008V44.1879L80.2704 43.8428V50.3384L77.4971 52.3008Z" fill="#14204B"/>
                  <path d="M80.2694 50.511H80.7241V43.6001H80.2694V50.511Z" fill="#AFB5C3"/>
                  <path d="M80.2063 44.2546V44.4973L77.5615 45.4992V45.2749L80.2063 44.2546Z" fill="#14204B"/>
                  <path d="M81.6807 42.7834V43.3793L78.3193 44.9885V44.3547L81.6807 42.7834Z" fill="#A5A7AF"/>
                  <path d="M77.4316 43.8601V44.4065L78.3193 44.9885V44.3547L77.4316 43.8601Z" fill="#7F8090"/>
                  <path d="M81.6807 42.7834L80.7183 42.2795L77.4316 43.86L78.3193 44.3546L81.6807 42.7834Z" fill="#DCDEE2"/>
                  <path d="M61.9607 42.7903L68.1677 40.0146L68.1389 40.3827L61.9561 43.1078L61.9607 42.7903Z" fill="#14204B"/>
                  <path d="M61.9787 43.8567L68.1857 41.0811L68.157 41.448L61.9741 44.1742L61.9787 43.8567Z" fill="#14204B"/>
                  <path d="M61.988 44.3845L68.195 41.6089L68.1663 41.977L61.9834 44.702L61.988 44.3845Z" fill="#14204B"/>
                  <path d="M61.9699 43.3078L68.1769 40.531L68.1482 40.8991L61.9653 43.6253L61.9699 43.3078Z" fill="#14204B"/>
                  <path d="M77.1542 38.8264L80.6326 37.3989L80.6131 37.5956L77.1484 38.9955L77.1542 38.8264Z" fill="#14204B"/>
                  <path d="M77.1542 39.3958L80.6326 37.9695L80.6131 38.1662L77.1484 39.5661L77.1542 39.3958Z" fill="#14204B"/>
                  <path d="M77.1542 39.6788L80.6326 38.2524L80.6131 38.4491L77.1484 39.849L77.1542 39.6788Z" fill="#14204B"/>
                  <path d="M77.1542 39.9744L80.6326 38.5481L80.6131 38.7448L77.1484 40.1447L77.1542 39.9744Z" fill="#14204B"/>
                  <path d="M77.141 40.301L80.6183 38.8735L80.5988 39.0702L77.1353 40.4701L77.141 40.301Z" fill="#14204B"/>
                  <path d="M77.1542 39.1026L80.6326 37.6763L80.6131 37.873L77.1484 39.2729L77.1542 39.1026Z" fill="#14204B"/>
                  <path d="M85.9496 46.9519V48.7855L57.7832 64.4247L57.7981 62.567L85.9496 46.9519Z" fill="#B8BDC9"/>
                  <path opacity="0.1" d="M15.1572 20.6233V21.3687L57.7438 43.3391V42.6052L15.1572 20.6233Z" fill="#5C6E82"/>
                  <path opacity="0.1" d="M18.7057 23.8267L15.1572 22.6787L54.1953 42.8811L57.7438 44.0394L18.7057 23.8267Z" fill="#5C6E82"/>
                  <path opacity="0.1" d="M22.2542 27.0374L15.1572 23.9949L50.6457 42.4281L57.7438 45.4787L22.2542 27.0374Z" fill="#5C6E82"/>
                  <path opacity="0.1" d="M25.8039 30.2466L15.1572 25.3108L47.0972 41.9749L57.7438 46.9177L25.8039 30.2466Z" fill="#5C6E82"/>
                  <path opacity="0.1" d="M29.3524 33.457L15.1572 26.6255L43.5487 41.5216L57.7438 48.3566L29.3524 33.457Z" fill="#5C6E82"/>
                  <path opacity="0.1" d="M32.902 36.6663L15.1572 27.9414L39.999 41.0696L57.7438 49.7956L32.902 36.6663Z" fill="#5C6E82"/>
                  <path opacity="0.1" d="M36.4505 39.8767L15.1572 29.2573L36.4505 40.6164L57.7438 51.2346L36.4505 39.8767Z" fill="#5C6E82"/>
                  <path opacity="0.1" d="M39.999 43.086L15.1572 30.5732L32.902 40.1631L57.7438 52.6736L39.999 43.086Z" fill="#5C6E82"/>
                  <path opacity="0.1" d="M43.5487 46.2964L15.1572 31.8892L29.3524 39.7099L57.7438 54.1126L43.5487 46.2964Z" fill="#5C6E82"/>
                  <path opacity="0.1" d="M47.0972 49.5057L15.1572 33.2051L25.8039 39.2567L57.7438 55.5516L47.0972 49.5057Z" fill="#5C6E82"/>
                  <path opacity="0.1" d="M50.6457 52.7161L15.1572 34.521L22.2542 38.8046L57.7438 56.9917L50.6457 52.7161Z" fill="#5C6E82"/>
                  <path opacity="0.1" d="M54.1953 55.9254L15.1572 35.8369L18.7057 38.3514L57.7438 58.4307L54.1953 55.9254Z" fill="#5C6E82"/>
                  <path opacity="0.1" d="M15.1572 37.1528V37.8982L57.7438 59.8697V59.1359L15.1572 37.1528Z" fill="#5C6E82"/>
                  <path d="M16.8142 31.6165L16.7798 32.5873L22.3161 35.0293L22.3517 33.9975L16.8142 31.6165Z" fill="#A5A7AF"/>
                  <path d="M24.0953 33.1313L24.0642 34.0217L22.3164 35.0293L22.352 33.9975L24.0953 33.1313Z" fill="#7F8090"/>
                  <path d="M16.8145 31.6165L18.4911 30.7366L24.0952 33.1315L22.352 33.9976L16.8145 31.6165Z" fill="#DCDEE2"/>
                  <path d="M25.9708 36.5027L25.9375 37.4735L31.4727 39.9156L31.5095 38.8838L25.9708 36.5027Z" fill="#A5A7AF"/>
                  <path d="M33.3652 38.135L33.3319 39.1404L31.4727 39.9156L31.5094 38.8838L33.3652 38.135Z" fill="#7F8090"/>
                  <path d="M25.9707 36.5027L27.8782 35.6262L33.3651 38.135L31.5094 38.8838L25.9707 36.5027Z" fill="#DCDEE2"/>
                  <path d="M34.991 41.6643L34.9565 42.6363L40.9017 45.0921L40.9373 44.0603L34.991 41.6643Z" fill="#A5A7AF"/>
                  <path d="M42.9012 43.3149L42.8679 44.3214L40.9019 45.0921L40.9375 44.0603L42.9012 43.3149Z" fill="#7F8090"/>
                  <path d="M34.9912 41.6642L37.1203 41.0247L42.9013 43.3149L40.9375 44.0603L34.9912 41.6642Z" fill="#DCDEE2"/>
                  <path d="M45.1954 47.4294L45.1621 48.4003L51.3484 50.8653L51.3852 49.8335L45.1954 47.4294Z" fill="#A5A7AF"/>
                  <path d="M53.8693 49.2136L53.836 50.219L51.3486 50.8654L51.3854 49.8336L53.8693 49.2136Z" fill="#7F8090"/>
                  <path d="M45.1958 47.4294L47.5075 46.6794L53.8695 49.2135L51.3856 49.8335L45.1958 47.4294Z" fill="#DCDEE2"/>
                </g>
                <defs>
                  <clipPath id="clip0_290_5380">
                    <rect width="100" height="74.9581" fill="white" transform="translate(0.555664 0.759033)"/>
                  </clipPath>
                </defs>
              </svg>
            </div>
            <div class="card-section__main__title">
              Kantoren
            </div>
          </div>
        </div>
        <div class="card-section">
          <mat-radio-group class="card-section-radio" formControlName="gebouw">
            <mat-radio-button
            class="card-section-radio__button"
            value="opslagplaats"
            [checked]="form.get('gebouw')?.value==='opslagplaats'"
            >
            </mat-radio-button>
          </mat-radio-group>
          <div class="card-section__main">
            <div class="card-section__main__icon">
              <svg width="100" height="77" viewBox="0 0 100 77" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M98.4345 51.0909L48.7168 22.4572C45.0348 20.3342 40.4969 20.3375 36.8182 22.4638L2.91676 42.0384L0.000976562 41.0366V44.775C0.000976562 44.775 0.000976562 44.775 0.000976562 44.7784C0.000976562 45.392 0.306149 46.0057 0.916507 46.354L51.2843 75.3593C54.9664 77.4789 59.5009 77.4789 63.183 75.3526L99.0879 54.6237C99.6419 54.3019 99.9405 53.7646 99.9902 53.2073V53.1907C99.9969 53.0945 99.9969 53.0016 99.9902 52.9054L100 49.3229L98.4378 51.0876L98.4345 51.0909Z" fill="#E2E8ED"/>
                <path d="M0.913049 42.6189L51.2808 71.6242C54.9629 73.7438 59.4975 73.7438 63.1795 71.6175L99.0845 50.8886C100.302 50.1853 100.302 48.4273 99.0845 47.7273L48.7167 18.7221C45.0346 16.5991 40.4968 16.6024 36.818 18.7287L0.913049 39.461C-0.30435 40.1642 -0.30435 41.9223 0.913049 42.6222V42.6189Z" fill="#FCFCFC"/>
                <path d="M97.0148 50.255L94.454 51.7345L71.6353 64.9069L62.3903 70.2476C60.8213 71.1531 59.0334 71.6308 57.2255 71.6308C55.4176 71.6308 53.6363 71.1531 52.0706 70.2542L3.11262 42.0616C2.32314 41.6105 2.32314 40.4727 3.11262 40.0182L37.6045 20.1053C39.1735 19.1997 40.9548 18.7188 42.7693 18.7188C44.5838 18.7188 46.3585 19.1964 47.9242 20.0987L67.7276 31.5031L84.5158 41.1726L97.0115 48.3676C97.7413 48.7855 97.7413 49.8404 97.0148 50.2616V50.255Z" fill="#B8ABA8"/>
                <path opacity="0.3" d="M54.6611 67.0001L73.3931 56.3387L89.7136 46.9147L50.9127 24.5139L16.1621 44.5794L26.8069 50.7228" fill="black"/>
                <path d="M29.1053 48.6794L28.2428 49.1769L28.0703 48.9414V37.0859L28.2428 36.8205L29.1053 36.3229V48.6794Z" fill="#D1D1D1"/>
                <path d="M54.9629 42.0517L54.8335 64.2634L54.9629 64.9534L65.2229 59.0322L66.2478 57.5893L68.7092 56.1728L69.6214 56.4913L89.7135 44.8912L89.9224 22.2217L89.2391 22.361L54.9629 42.0517Z" fill="#EFF5F9"/>
                <path d="M16.1621 20.0622L50.9127 0L89.7136 22.4008L54.963 42.4663L47.0582 38.0678L32.6783 29.745L16.1621 20.0622Z" fill="#FAFDFF"/>
                <path d="M16.1621 19.6475V42.5492L54.9663 64.9533V42.0516L16.1621 19.6475ZM54.6279 64.7576L28.2134 49.5053L28.2465 37.0029L54.6611 52.2552L54.6279 64.7576Z" fill="#EFF5F9"/>
                <path d="M65.6011 49.5086V58.81L69.6215 56.4913V47.18L65.6011 49.5086Z" fill="#313B51"/>
                <path d="M67.19 48.3742V57.3206L67.1071 57.5064L66.9844 57.4334V48.4936L67.19 48.3742Z" fill="#211A1A"/>
                <path d="M65.6011 58.2295L69.1239 56.1994V47.2596L69.3694 47.1136V56.342L65.6973 58.4617L65.6011 58.3887V58.2295Z" fill="#211A1A"/>
                <path d="M65.6011 58.3886L69.2566 56.2756V47.3325L69.5054 47.1899V56.4182L65.7304 58.5976L65.6011 58.5313V58.3886Z" fill="#313B51"/>
                <path d="M67.3197 48.4538V57.3936L67.2433 57.5893L67.1206 57.513V48.5699L67.3197 48.4538Z" fill="#313B51"/>
                <path d="M67.4455 48.3775V57.4632L67.3427 57.5694L67.2432 57.5893V48.5036L67.4455 48.3775Z" fill="#211A1A"/>
                <path d="M65.6011 58.5313L69.3793 56.3486V47.2662L69.6215 47.1236V56.4913L65.6011 58.81V58.5313Z" fill="#211A1A"/>
                <path d="M69.6216 47.8633V56.4913L70.4708 56.9822L71.0778 55.662V47.2629L69.6216 47.8633Z" fill="#F4EFE9"/>
                <path d="M70.955 46.0787L64.543 49.6844L64.6193 59.5895L64.7486 60.2828L65.9196 59.6061V50.6166L70.4707 47.9927V56.9822L71.6417 56.3055V45.936L70.955 46.0787Z" fill="#D1D1D1"/>
                <path d="M63.9028 49.4257L70.7926 45.4484L71.6418 45.936L64.7487 49.9166L64.3838 50.2815L64.2478 50.2484L63.9028 49.4257Z" fill="white"/>
                <path d="M63.9028 49.4257V59.7952L64.7487 60.2828V49.9167L63.9028 49.4257Z" fill="#F4EFE9"/>
                <path d="M19.4693 32.1798L19.4395 44.6789L45.854 59.9312L45.8872 47.4288L19.4693 32.1798Z" fill="#39393D"/>
                <path d="M19.5786 34.1601L45.8373 49.3394" stroke="#333333" stroke-width="0.75" stroke-miterlimit="10"/>
                <path d="M19.5786 36.0675L45.8373 51.2502" stroke="#333333" stroke-width="0.75" stroke-miterlimit="10"/>
                <path d="M19.5786 37.9218L45.8373 53.1045" stroke="#333333" stroke-width="0.75" stroke-miterlimit="10"/>
                <path d="M19.5786 39.8292L45.8373 55.0118" stroke="#333333" stroke-width="0.75" stroke-miterlimit="10"/>
                <path d="M19.5786 41.7498L45.8373 56.9325" stroke="#333333" stroke-width="0.75" stroke-miterlimit="10"/>
                <path d="M19.5786 43.6572L45.8373 58.8398" stroke="#333333" stroke-width="0.75" stroke-miterlimit="10"/>
                <path d="M63.0901 46.2279L60.1743 47.9164V48.0458L63.2062 46.2943L63.1631 46.2213L63.0901 46.2279Z" fill="white"/>
                <path d="M63.2062 46.2943V42.0948L63.0903 42.1611V46.228L63.2062 46.2943Z" fill="#E0DEDC"/>
                <path d="M60.1743 43.8463V47.9164L63.0901 46.228V42.1611L60.1743 43.8463Z" fill="#313B51"/>
                <path d="M62.9871 42.1744L63.0369 42.1479V46.1981L60.1211 47.8833V47.8236L62.9871 46.1683V42.1744Z" fill="#5E4439"/>
                <path d="M63.0136 42.1943L63.0667 42.1644V46.2147L60.1509 47.8998V47.8401L63.0136 46.1848V42.1943Z" fill="#211A1A"/>
                <path d="M63.0401 42.1777L63.0899 42.1479V46.228L60.1509 47.9297V47.87L63.0401 46.2015V42.1777Z" fill="#574943"/>
                <path d="M60.1745 48.0458V43.8462L63.2064 42.0948V41.9919L60.0684 43.7965V48.0391L60.1745 48.0458Z" fill="#D1D1D1"/>
                <path d="M67.6248 43.5377L64.709 45.2228V45.3522L67.7409 43.6041L67.6978 43.5278L67.6248 43.5377Z" fill="white"/>
                <path d="M67.7404 43.6041V39.4046L67.6245 39.4709V43.5378L67.7404 43.6041Z" fill="#E0DEDC"/>
                <path d="M64.709 41.1561V45.2229L67.6248 43.5378V39.4709L64.709 41.1561Z" fill="#313B51"/>
                <path d="M67.5218 39.4842L67.5716 39.4577V43.508L64.6558 45.1898V45.13L67.5218 43.4781V39.4842Z" fill="#5E4439"/>
                <path d="M67.5482 39.5008L67.6012 39.4742V43.5245L64.6821 45.2096V45.1466L67.5482 43.4946V39.5008Z" fill="#211A1A"/>
                <path d="M67.5747 39.4876L67.6245 39.4577V43.5378L64.6821 45.2362V45.1765L67.5747 43.508V39.4876Z" fill="#574943"/>
                <path d="M64.7087 45.3523V41.1561L67.7406 39.4046V39.3018L64.6025 41.1063V45.3489L64.7087 45.3523Z" fill="#D1D1D1"/>
                <path d="M72.3914 40.9371L69.4756 42.6222V42.7516L72.5075 41.0001L72.4644 40.9271L72.3914 40.9371Z" fill="white"/>
                <path d="M72.507 41.0001V36.8006L72.3911 36.8669V40.9371L72.507 41.0001Z" fill="#E0DEDC"/>
                <path d="M69.4756 38.5521V42.6222L72.3914 40.9371V36.8669L69.4756 38.5521Z" fill="#313B51"/>
                <path d="M72.2884 36.8836L72.3382 36.8537V40.904L69.4224 42.5891V42.5294L72.2884 40.8741V36.8836Z" fill="#5E4439"/>
                <path d="M72.3149 36.9001L72.3679 36.8702V40.9205L69.4521 42.6056V42.5459L72.3149 40.8906V36.9001Z" fill="#211A1A"/>
                <path d="M72.3414 36.8836L72.3911 36.8537V40.9371L69.4521 42.6355V42.5758L72.3414 40.9073V36.8836Z" fill="#574943"/>
                <path d="M69.4753 42.7516V38.552L72.5072 36.8006V36.6978L69.3691 38.5023V42.7449L69.4753 42.7516Z" fill="#D1D1D1"/>
                <path d="M76.926 38.2435L74.0103 39.9287V40.058L77.0421 38.3099L76.999 38.2336L76.926 38.2435Z" fill="white"/>
                <path d="M77.0417 38.3099V34.1104L76.9258 34.1767V38.2435L77.0417 38.3099Z" fill="#E0DEDC"/>
                <path d="M74.0103 35.8619V39.9287L76.926 38.2436V34.1768L74.0103 35.8619Z" fill="#313B51"/>
                <path d="M76.823 34.19L76.8728 34.1635V38.2137L73.957 39.8988V39.8391L76.823 38.1839V34.19Z" fill="#5E4439"/>
                <path d="M76.8495 34.2066L76.9026 34.1801V38.2303L73.9868 39.9154V39.8524L76.8495 38.2005V34.2066Z" fill="#211A1A"/>
                <path d="M76.8761 34.1933L76.9258 34.1635V38.2436L73.9868 39.9419V39.8822L76.8761 38.2137V34.1933Z" fill="#574943"/>
                <path d="M74.01 40.0581V35.8619L77.0419 34.1104V34.0076L73.9038 35.8121V40.0548L74.01 40.0581Z" fill="#D1D1D1"/>
                <path d="M81.4968 35.5699L78.5811 37.255V37.3844L81.6129 35.6362L81.5698 35.5599L81.4968 35.5699Z" fill="white"/>
                <path d="M81.613 35.6363V31.4368L81.4971 31.5031V35.57L81.613 35.6363Z" fill="#E0DEDC"/>
                <path d="M78.5811 33.1882V37.255L81.4968 35.5699V31.5031L78.5811 33.1882Z" fill="#313B51"/>
                <path d="M81.394 31.5164L81.4437 31.4865V35.5368L78.5312 37.2219V37.1622L81.394 35.5069V31.5164Z" fill="#5E4439"/>
                <path d="M81.4203 31.5329L81.4734 31.5031V35.5566L78.5576 37.2384V37.1787L81.4203 35.5268V31.5329Z" fill="#211A1A"/>
                <path d="M81.4469 31.5197L81.4966 31.4898V35.5699L78.5576 37.2683V37.2086L81.4469 35.5401V31.5197Z" fill="#574943"/>
                <path d="M78.5812 37.3844V33.1882L81.6131 31.4367V31.3306L78.4751 33.1351V37.3778L78.5812 37.3844Z" fill="#D1D1D1"/>
                <path d="M86.0315 32.8797L83.1157 34.5648V34.6942L86.1476 32.9427L86.1045 32.8698L86.0315 32.8797Z" fill="white"/>
                <path d="M86.1472 32.9428V28.7432L86.0312 28.8129V32.8797L86.1472 32.9428Z" fill="#E0DEDC"/>
                <path d="M83.1157 30.498V34.5648L86.0315 32.8797V28.8129L83.1157 30.498Z" fill="#313B51"/>
                <path d="M85.9285 28.8262L85.9783 28.7963V32.8466L83.0625 34.5317V34.472L85.9285 32.8167V28.8262Z" fill="#5E4439"/>
                <path d="M85.955 28.8427L86.0081 28.8129V32.8631L83.0923 34.5482V34.4885L85.955 32.8333V28.8427Z" fill="#211A1A"/>
                <path d="M85.9815 28.8262L86.0313 28.7963V32.8798L83.0923 34.5781V34.5184L85.9815 32.8499V28.8262Z" fill="#574943"/>
                <path d="M83.1154 34.6942V30.498L86.1473 28.7432V28.6404L83.0093 30.4449V34.6876L83.1154 34.6942Z" fill="#D1D1D1"/>
                <path d="M45.8872 47.4288L45.854 59.9312L54.6279 64.761L54.6611 52.2586L45.8872 47.4288Z" fill="#252F30"/>
              </svg>
            </div>
            <div class="card-section__main__title">
              Opslagplaats
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="dialog__action__button" (click)="submit()">
    Apply
  </button>
</div>

