.card-section {
  display: flex;
  padding: 8px;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 16px;
  background: #FFF;
  height: 150px;
}
.card-section__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 20px;
}
.card-section-radio .mat-radio-container {
  height: 24px;
  width: 24px;
}
.card-section-radio .mat-radio-outer-circle {
  height: 24px;
  width: 24px;
}
.card-section-radio .mat-radio-inner-circle {
  height: 24px;
  width: 24px;
}
.card-section-radio .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #4698DE;
}
.card-section-radio .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #4698DE;
}
.card-section-radio .mat-radio-outer-circle {
  border-color: #4698DE;
}
.card-section-radio .mat-radio-button .mat-radio-ripple {
  height: 48px;
  width: 48px;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
}
.card-section__main__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-section__main__title {
  color: #000;
  font-family: Roboto Slab, Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

