.radio-title {
  color: #FFF;
  font-family: Roboto, Roboto Slab, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.radio-sub-title {
  color: #FFF;
  font-family: Roboto, Roboto Slab, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.verbruik-section-radio .mat-radio-container {
  height: 20px;
  width: 20px;
}
.verbruik-section-radio .mat-radio-outer-circle {
  height: 20px;
  width: 20px;
}
.verbruik-section-radio .mat-radio-inner-circle {
  height: 20px;
  width: 20px;
}
.verbruik-section-radio .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #FFFFFF;
}
.verbruik-section-radio .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #FFFFFF;
}
.verbruik-section-radio .mat-radio-outer-circle {
  border-color: #FFFFFF;
}
.verbruik-section-radio .mat-radio-button .mat-radio-ripple {
  height: 40px;
  width: 40px;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
}

.verbruik-section-radio .mat-radio-label {
  align-items: start;
  white-space: normal;
}
.verbruik-section-radio .verbruik-section-radio {
  margin-bottom: 31px;
}



