.custom-toolbar {
  background-color:#1a4bbb;
  color: #FFFFFF;
  height: 30px;
}
.custom-toolbar-row {
  display: flex;
  padding: 0 16px;
  width: 100%;
  flex-direction: row-reverse;
  align-items: center;
  white-space: nowrap;
}
