<header>
  <mat-toolbar class="custom-toolbar">
    <div class="custom-toolbar-row">
      <button mat-icon-button aria-label="icon button with menu icon" (click)="toggleSideNav(toggle = !toggle)">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</header>
