.dialog-body-car {
  flex-direction: column;
}
.car-card-section-radio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.car-card-section-radio-title{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #FFF;
  font-family: Roboto, Roboto Slab, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 12px;

}
.car-section-radio-group .car-section-radio .mat-radio-label {
  padding-right: 32px;
  color: #FFFFFF
}

.car-section-radio-group .mat-radio-container {
  height: 20px;
  width: 20px;
}
.car-section-radio-group .mat-radio-outer-circle {
  height: 20px;
  width: 20px;
}
.car-section-radio-group .mat-radio-inner-circle {
  height: 20px;
  width: 20px;
}
.car-section-radio-group .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #FFFFFF;
}
.car-section-radio-group .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #FFFFFF;
}
.car-section-radio-group .mat-radio-outer-circle {
  border-color: #FFFFFF;
}
.car-section-radio-group .mat-radio-button .mat-radio-ripple {
  height: 40px;
  width: 40px;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
}

.car-section-radio-group.verbruik-section-radio {
  margin-bottom: 31px;
}

.car-card-section-input .car-card-section-input--label {
  color: #FFF;
  font-family: Roboto, Roboto Slab, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.car-card-section-input--input {
  border-radius: 4px;
  background: #FFF;
  margin-top: 12px;
  width: 100%;
  border: none;
  padding: 8px;
  color: #4C4949;
}
.car-card-section-input--input::placeholder {
  color: #4C4949;
  font-family: Roboto, Roboto Slab, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.car-card-section-input--input:focus {
  outline:none;
}

