<div class="dialog">
  <div class="dialog__body">
    <div class="dialog-body-section">
      <div class="dialog-header">
        <span class="dialog-header__title"> {{data.title}} </span>
        <span class="dialog-header__close" (click)="close()">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
            <mask id="mask0_56_5420" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
            <rect x="0.424805" y="0.158691" width="24" height="24" fill="#D9D9D9"/>
            </mask>
            <g mask="url(#mask0_56_5420)">
            <path
              d="M8.8248 17.1587L12.4248 13.5587L16.0248 17.1587L17.4248 15.7587L13.8248 12.1587L17.4248 8.55869L16.0248 7.15869L12.4248 10.7587L8.8248 7.15869L7.4248 8.55869L11.0248 12.1587L7.4248 15.7587L8.8248 17.1587ZM12.4248 22.1587C11.0415 22.1587 9.74147 21.8962 8.5248 21.3712C7.30814 20.8462 6.2498 20.1337 5.3498 19.2337C4.4498 18.3337 3.7373 17.2754 3.2123 16.0587C2.6873 14.842 2.4248 13.542 2.4248 12.1587C2.4248 10.7754 2.6873 9.47536 3.2123 8.25869C3.7373 7.04202 4.4498 5.98369 5.3498 5.08369C6.2498 4.18369 7.30814 3.47119 8.5248 2.94619C9.74147 2.42119 11.0415 2.15869 12.4248 2.15869C13.8081 2.15869 15.1081 2.42119 16.3248 2.94619C17.5415 3.47119 18.5998 4.18369 19.4998 5.08369C20.3998 5.98369 21.1123 7.04202 21.6373 8.25869C22.1623 9.47536 22.4248 10.7754 22.4248 12.1587C22.4248 13.542 22.1623 14.842 21.6373 16.0587C21.1123 17.2754 20.3998 18.3337 19.4998 19.2337C18.5998 20.1337 17.5415 20.8462 16.3248 21.3712C15.1081 21.8962 13.8081 22.1587 12.4248 22.1587ZM12.4248 20.1587C14.6581 20.1587 16.5498 19.3837 18.0998 17.8337C19.6498 16.2837 20.4248 14.392 20.4248 12.1587C20.4248 9.92536 19.6498 8.03369 18.0998 6.48369C16.5498 4.93369 14.6581 4.15869 12.4248 4.15869C10.1915 4.15869 8.29981 4.93369 6.7498 6.48369C5.1998 8.03369 4.4248 9.92536 4.4248 12.1587C4.4248 14.392 5.1998 16.2837 6.7498 17.8337C8.29981 19.3837 10.1915 20.1587 12.4248 20.1587Z"
              fill="white"/>
            </g>
          </svg>
        </span>
      </div>
      <div class="dialog-body-main dialog-body-car" [formGroup]="form">
        <div class="car-card-section-input">
          <label for="numberOfChargingPoints" class="car-card-section-input--label">
            Aantal Laadpunten:
          </label>
          <input id="numberOfChargingPoints" placeholder="Enter text" type="text" formControlName="numberOfChargingPoints" class="car-card-section-input--input">
        </div>
        <div class="car-card-section-input">
          <label for="insuredCapital" class="car-card-section-input--label">
            Aantal Laadpunten:
          </label>
          <input id="insuredCapital" placeholder="Enter text" type="text" formControlName="insuredCapital"  class="car-card-section-input--input">
        </div>
        <div class="car-card-section-radio">
          <div class="car-card-section-radio-title">
            Dynamisch laden al actief:
          </div>
          <mat-radio-group class="car-section-radio-group" formControlName="activeDynamicCharging" aria-label="Select an option">
            <mat-radio-button [checked]="form.get('activeDynamicCharging')?.value=== true" class="car-section-radio" value="true">Ja</mat-radio-button>
            <mat-radio-button [checked]="form.get('activeDynamicCharging')?.value=== false" class="car-section-radio" value="false">Nee</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>
  </div>
  <button class="dialog__action__button" (click)="submit()">
    Apply
  </button>
</div>

