.dialog-body-radiator {
  flex-direction: column;
  grid-gap: 28px;
}
.radiator-card-section-input--label {
  color: #FFF;
  font-family: Roboto, Roboto Slab, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.radiator-card-section-input--input {
  border-radius: 4px;
  background: #FFF;
  margin-top: 12px;
  width: 212px;
  border: none;
  padding: 8px;
  margin-right: 14px;
  color: #4C4949;
}
.radiator-card-section-input--input::placeholder {
  color: #4C4949;
  font-family: Roboto, Roboto Slab, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.radiator-card-section-input--input:focus {
  outline:none;
}
.radiator-card-section-input--designation {
  color: #FFF;
  font-family: Roboto, Roboto Slab, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
