.main {
  display: flex;
}
.container {
  max-width: 1440px;
  margin: auto;
}
.start-image {
  max-width: 94%;
}
.start-image g {
  cursor: pointer;
}
.no-active {
  opacity: 0;
}
.active {
  opacity: 1;
}
.house {
  opacity: 0;
  display: none;
}
.house-active {
  opacity: 1;
  display: inline;
}
.no-active:hover {
  opacity: 1;
}
.no-active .label rect {
  fill: #1a4bbb;
}
.house-active .label rect {
  fill: #1a4bbb;
}
.sidenav-container {
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.sidenav {
  padding: 20px;
  width: 300px;
}
.calculation {
  margin-bottom: 20px;
}

mat-sidenav {
  width: 200px;
}
