.panel-card-section-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #FFF;
  font-family: Roboto, Roboto Slab, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 14px;
}
.panel-section-radio-group .panel-section-radio .mat-radio-label {
  padding-right: 32px;
  color: #FFFFFF
}
.panel-section-radio-group .mat-radio-container {
  height: 20px;
  width: 20px;
}
.panel-section-radio-group .mat-radio-outer-circle {
  height: 20px;
  width: 20px;
}
.panel-section-radio-group .mat-radio-inner-circle {
  height: 20px;
  width: 20px;
}
.panel-section-radio-group .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #FFFFFF;
}
.panel-section-radio-group .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #FFFFFF;
}
.panel-section-radio-group .mat-radio-outer-circle {
  border-color: #FFFFFF;
}
.panel-section-radio-group .mat-radio-button .mat-radio-ripple {
  height: 40px;
  width: 40px;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
}

.panel-section-radio-group.verbruik-section-radio {
  margin-bottom: 31px;
}
