
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$growatt-primary: mat.define-palette(mat.$indigo-palette);
$growatt-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$growatt-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$growatt-theme: mat.define-light-theme((
  color: (
    primary: $growatt-primary,
    accent: $growatt-accent,
    warn: $growatt-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($growatt-theme);

/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}


html, body { height: 100%; }
body { margin: 0;
  font-family: Roboto,
  "Helvetica Neue", sans-serif;
background-color: white;
}


.cdk-overlay-pane {
  max-width: none !important;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  /** IE 11 fixes */
  .cdk-overlay-pane {
    display: block;
  }
}

mat-dialog-container#gebouw-modal-component {
    border-radius: 24px;
    background-color: #4698DE;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

mat-dialog-container#metter-modal-component {
  padding: 16px;
  border-radius: 24px;
  background-color: #4698DE;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
mat-dialog-container#pannel-modal-component {
  padding: 16px;
  border-radius: 24px;
  background-color: #4698DE;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
mat-dialog-container#car-modal-component {
  padding: 16px;
  border-radius: 24px;
  background-color: #4698DE;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

mat-dialog-container#station-modal-component {
  padding: 16px;
  border-radius: 24px;
  background-color: #4698DE;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

mat-dialog-container#radiator-modal-component {
  padding: 16px;
  border-radius: 24px;
  background-color: #4698DE;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

//dialog
.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  margin-bottom: 32px;
}
.dialog-header__title {
  color: #FFF;
  font-family: Roboto Slab, Roboto, "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.dialog-header__close {
  cursor: pointer;
}
.dialog-body-main {
  display: flex;
  align-items: flex-start;
  margin-bottom: 32px;
  gap: 16px;
}
.dialog__action__button {
  appearance: none;
  border: 0;
  border-radius: 8px;
  background: #FFF;
  color: #000;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.dialog__action__button:hover {
  background: #939598FF;
}
.dialog__action__button:focus {
  outline: none;
}
.mat-sidenav-content {
  margin-left: 0 !important;
}
