.dialog-body-station {
  flex-direction: column;
}
.station-card-section-radio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.station-card-section-radio-title{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 12px;
  color: #FFF;
  font-family: Roboto, Roboto Slab, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.station-section-radio-group .station-section-radio .mat-radio-label {
  padding-right: 32px;
  color: #FFFFFF
}

.station-section-radio-group .mat-radio-container {
  height: 20px;
  width: 20px;
}
.station-section-radio-group .mat-radio-outer-circle {
  height: 20px;
  width: 20px;
}
.station-section-radio-group .mat-radio-inner-circle {
  height: 20px;
  width: 20px;
}
.station-section-radio-group .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #FFFFFF;
}
.station-section-radio-group .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #FFFFFF;
}
.station-section-radio-group .mat-radio-outer-circle {
  border-color: #FFFFFF;
}
.station-section-radio-group .mat-radio-button .mat-radio-ripple {
  height: 40px;
  width: 40px;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
}
.station-section-radio-group.verbruik-section-radio {
  margin-bottom: 31px;
}
.station-card-section-select {
  width: 100%;
}
.station-card-section--select{
  border-radius: 4px;
  background: #FFF;
  color: #4C4949;
  width: 100%;
  padding: 8px;
}

